:root {
    --magenta: rgb(140, 0, 255);
    --slategray: rgb(70, 69, 69);
    --textSize: 18px;
}

html {
    box-sizing: border-box;
    background-color: var(--slategray);
}

.item {
    background-color: var(--magenta);
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffff;
    color:#ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--textSize);
}

#one {
    height: 10vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#two {
    /* LEARN HOW TO SPAN THIS */
}

.grid {
    display: grid;
    grid-gap: 20px;
}


/*
@media only screen and (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }
}

@media only screen and (max-width: 650px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
    }
}